<div class="login-container">
  <h1>🧾 Receipts App</h1>
  <form (ngSubmit)="onLogin()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" name="username" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" name="password" type="password" required>
    </mat-form-field>
    <button mat-raised-button color="primary" class="full-width">Login</button>
  </form>
</div>
